<h2> Please select movie genre for which you would like to make a reservation: </h2>
<select>
  <option>Select A Genre</option>
  {% for genre in data %}
    <option>{{ genre.name.value }}</option>
  {% endfor %}
</select>
